# information about database masters and their connection info
databases:
    - name: "inventory_service"
      host: "inventory-db"
      port: 5432
      type: postgres
      user: "inventory_service"
      password: "inventory_service"
