# information about database masters and their connection info
databases:
    - name: "inventory_service"
      host: "127.0.0.1"
      port: 5432
      type: postgres
      user: "inventory_service"
      password: "okoh2thahDaihahng7ae"
